<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Private Shopping</title>
    <link href="css/reset.css" rel="stylesheet" type="text/css" />
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript" src="js/jquery-1.5.min.js"></script>
	
</head>
<body>
	<div id="header">
		<div class="wrap">
			<div id="logo"><h1><a href="#">logo</a></h1></div>
			<div id="top">
				<ul>
					<li><a href="#">Hesabım</a></li>
					<li>|</li>
					<li><a href="#">Puanlarım</a></li>
					<li>|</li>
					<li><a href="#">Arkadaşını davet et</a></li>
					<li>|</li>
					<li><a href="#">Çıkış</a></li>
				</ul>
				<div class="welcome">Hoşgeldiniz Sn. Abdullah Cansev</div>
			</div><!--#top END-->
			<div class="clear"></div>
			
			
			<div id="menu">
				<div class="basket">
					Sepetinizde <a href="#">(1)</a> Adet ürün bulunuyor.
				</div><!--.basket END-->
				
				
				<ul>
					<li class="selected"><a href="#"><span>Tüm Kampanyalar</span></a></li>
					<li>|</li>
					<li><a href="#"><span>Erkek</span></a></li>
					<li>|</li>
					<li><a href="#"><span>Kadın</span></a></li>
					<li>|</li>
					<li><a href="#"><span>Çocuk</span></a></li>
					<li>|</li>
					<li><a href="#"><span>Dekorasyon</span></a></li>
				</ul>
			</div><!--#menu END-->
			
			
		</div><!--.wrap END-->
    </div><!--#header END-->
	
	
	
	<div id="content">
		<div class="wrap">
			<div id="left">
				<div class="campaign">
					<a href="#" class="img"><img src="samples/1.jpg" alt="" /></a>
					<a href="#" class="link"><span>Kampanyanın bitmesine : <strong>3 gün 23:15:36</strong> saat kaldı</span>ADV -Tween</a>
				</div><!--.campaign END-->
				<div class="campaign">
					<a href="#" class="img"><img src="samples/1.jpg" alt="" /></a>
					<a href="#" class="link"><span>Kampanyanın bitmesine : <strong>3 gün 23:15:36</strong> saat kaldı</span>ADV -Tween</a>
				</div><!--.campaign END-->
				<div class="campaign">
					<a href="#" class="img"><img src="samples/1.jpg" alt="" /></a>
					<a href="#" class="link"><span>Kampanyanın bitmesine : <strong>3 gün 23:15:36</strong> saat kaldı</span>ADV -Tween</a>
				</div><!--.campaign END-->
				<div class="campaign">
					<a href="#" class="img"><img src="samples/1.jpg" alt="" /></a>
					<a href="#" class="link"><span>Kampanyanın bitmesine : <strong>3 gün 23:15:36</strong> saat kaldı</span>ADV -Tween</a>
				</div><!--.campaign END-->
			
			
			</div><!--#left END-->
			
			<div id="right">
				<div class="invite">
					<form method="get" action="">
						<input type="text" name="textfield" value="E-Posta adresi girin" onfocus="if(this.value=='E-Posta adresi girin')this.value='';" onblur="if(this.value=='') this.value='E-Posta adresi girin';" class="input" />
						<input type="submit" class="submit" value="" />
					
					</form>
					<a href="#">Birden çok arkadaşınızı davet etmek için lütfen tıklayın</a>
				</div><!--.invite END-->
				<div class="ads">
					<a href="#"><img src="samples/2.jpg" /></a>
				</div>
			
			</div><!--#right END-->
		
		</div><!--.wrap END-->
	</div><!--#content END-->
	
	<div id="footer">
		<div class="wrap">
			<div class="footMenu">
				<h6>Private Shopping.com</h6>
				<ul>
					<li><a href="#">Hakkımızda</a></li>
					<li><a href="#">Adres Bilgileri</a></li>
					<li><a href="#">İşletme Başvuru</a></li>
					<li><a href="#">Müşteri Hizmetleri</a></li>
				</ul>
			</div><!--.footMenu END-->
			<div class="footMenu">
				<h6>Sosyal Paylaşım</h6>
				<ul>
					<li><a href="#">Facebook</a></li>
					<li><a href="#">Twitter</a></li>
					<li><a href="#">FriendFeed</a></li>
				</ul>
			</div><!--.footMenu END-->
			
			
			<div class="fRight">
				<ul>
					<li><a href="#">Garanti ve İade</a></li>
					<li>|</li>
					<li><a href="#">Kargo ve Taşıma Bilgileri</a></li>
					<li>|</li>
					<li><a href="#">Gizlilik ve Kullanım Şartları</a></li>
					<li>|</li>
					<li><a href="#">Sipariş Takibi</a></li>
				</ul>
				<div class="clear"></div>
				<div class="cards">
					<a href="#"><img src="samples/c1.png" alt="" /></a>
					<a href="#"><img src="samples/c2.png" alt="" /></a>
					<a href="#"><img src="samples/c3.png" alt="" /></a>
					<a href="#"><img src="samples/c4.png" alt="" /></a>
					<a href="#"><img src="samples/c5.png" alt="" /></a>
					<a href="#"><img src="samples/c6.png" alt="" /></a>
					<a href="#"><img src="samples/c7.png" alt="" /></a>
					<a href="#"><img src="samples/c8.png" alt="" /></a>
				</div><!--.cards END-->
			</div><!--.fRight END-->
			<div class="clear"></div>
			
			<div class="copyright">
				<div class="power">Powered by Shopphp</div>
				<div class="rights">Tüm hakları saklıdır.</div>
				&copy; 2011 Siteadı.com Tüm haklari saklidir. Bu sayfayi ziyaret ettiginizde Kullanim Kosullari'ni okumus ve kabul etmis sayilirsiniz. 
			</div>
			
		
		</div><!--.wrap END-->
	</div><!--#footer END-->
</body>
</html>