<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- CSS START -->
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/slider.css" />
<!-- CSS END -->
<!-- JAVASCRIPT START -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/easySlider1.7.js"></script>
<script type="text/javascript">
	$(document).ready(function(){	
		$("#slider").easySlider({
			auto: true, 
			continuous: true
		});
	});	
	</script>
<!-- JAVASCRIPT END -->
<title>Orange Template Detay Sayfa</title>
</head>
<body>
<!-- WRAPPER START -->
<div id="wrapper">
	<!-- HEADER START -->
	<div id="header">
		<!-- TOP INFO START -->
		<div id="top-info">
			<p>ÜCRETSİZ <br/> değişim ve iade</p>
			<p>30 GÜN <br/> iade garantisi</p>
			<p>%100 <br/> orjinal ürünler</p>
			<p>Müşteri hizmetleri <br/> 0(216) 4448 444</p>
		</div>
		<!-- TOP INFO END -->
		<div style="clear:right;"></div>
		<!-- LOGO START -->
		<div id="logo"><a href="#"><img src="resimler/logo.png" alt="" /></a></div>
		<!-- LOGO END -->
		<!-- SEARCH START -->
		<div id="search">
			<form action="#" method="post">
				<input type="text" class="search-box" placeholder="Aramak istediğiniz ürün adı" />
				<input type="submit" class="search-button" value="" />
			</form>
		</div>
		<!-- SEARCH END -->
		<!-- BASKET START -->
		<p class="basket">Sepetinizde <b>1 Adet</b> ürün bulunuyor.</p>
		<!-- BASKET END -->
		<div style="clear:both;"></div>
		<!-- MENU START -->
		<ul id="menu">
			<li><a href="#">KADIN</a></li>
			<li><a href="#">ERKEK</a></li>
			<li><a href="#">ÇOCUK</a></li>
			<li><a href="#">EKİPMAN</a></li>
			<li><a href="#">SPOR</a></li>
			<li><a href="#">TARAFTAR</a></li>
		</ul>
		<!-- MENU END -->
	</div>
	<!-- HEADER END -->
	<!-- SLIDER START -->
	<div id="slider">
		<ul>
			<li><img src="resimler/slider.png" alt="" /></li>
		</ul>
	</div>
	<!-- SLIDER END -->
	<!-- RIGHT BOX START -->
	<div id="right-box">
		<img src="resimler/cargo.png" alt="" />
		<div class="e-bulten">
			<img src="resimler/mail.png" alt="" />
			<div style="clear:left;"></div>
			<form action="#">
				<p>E-bülten listemize kayıt olun.</p>
				<input type="text" class="bulten-box" placeholder="e-mail adresiniz" />
				<input type="submit" class="add" value="" />
			</form>
		</div>
	</div>
	<!-- RIGHT BOX END -->
	<div style="clear:both;"></div>
	<img src="resimler/options.png" alt="" style="margin:10px 0 10px 0;" />
	<!-- CONTENT START -->
	<div id="content">
		<h1 class="big-title"> Nike - Cbf Authentic N98 - 478293-703</h1>
		<!-- PRODUCT DETAIL PHOTO START -->
		<div id="product-detail-photo">
			<script type="text/javascript">
			$(document).ready(function(){
				$(".big-photo").eq(0).show();
				$("#small-photos li").eq(0).addClass("active-photo");
				$("#small-photos li").click(function(){
					var number = $(this).index();
					$("#small-photos li").removeClass("active-photo");
					$(".big-photo").hide().eq(number).fadeIn("slow");
					$("#small-photos li").eq(number).addClass("active-photo");
					});
				});
			</script>
			<ul id="small-photos">
				<li><img src="resimler/smallphoto.png" alt="" /></li>
				<li><img src="resimler/smallphoto.png" alt="" /></li>
				<li><img src="resimler/smallphoto.png" alt="" /></li>
			</ul>
			<div class="big-photo" ><img src="resimler/bigphoto.png" alt=""/></div>
			<div class="big-photo" ><img src="resimler/bigphoto.png" alt=""/></div>
			<div class="big-photo" ><img src="resimler/bigphoto.png" alt=""/></div>
			<div style="clear:both;"></div>
			<p style="font-size:12px; color:#888; margin:10px 0 0 85px;">Ürün fotoğrafının büyük hali için fotoğrafa tıklayın.</p>
		</div>
		<!-- PRODUCT DETAIL PHOTO END -->
		<!-- PRODUCT INFOS START -->
		<div id="product-infos">
			<div class="prices">
				<p><span>Piyasa Fiyatı:</span> 765.00 TL + KDV</p>
				<p>	<span>siteadi.com Fiyatı :</span> 402.00 TL (KDV Dahil)</p>
				<p>	<span>Havale / EFT:</span> 385.92 TL (KDV Dahil)</p>
				<p class="size">Beden seçiniz : <select><option>xl</option></select></p>
				<p class="color">Renk seçiniz : <select><option>yesil</option></select></p>
			</div>
			<div class="buttons">
				<p class="point">150 puan</p>
				<span class="pointt">Bu üründen kazanacağınız puan</span>
				<a href="#"><img src="resimler/addbasket.png" alt="" style="margin:20px 0 5px 0;" /></a>
				<a href="#"><img src="resimler/buy.png" alt="" /></a>
			</div>
			
		</div>
		<!-- PRODUCT INFOS END -->
		<!-- PRODUCT DETAILS START -->
			<script type="text/javascript">
			$(document).ready(function(){
				$(".detail-content").eq(0).show();
				$("#detail-title li").eq(0).addClass("active-detail");
				$("#detail-title li").click(function(){
					var number = $(this).index();
					$("#detail-title li").removeClass("active-detail");
					$(".detail-content").hide().eq(number).fadeIn("slow");
					$("#detail-title li").eq(number).addClass("active-detail");
					});
				});
			</script>
			<div id="product-details">
				<ul id="detail-title">
					<li>Ürün özellikleri</li>
					<li>Taksit Seçenekleri</li>
					<li>Yorumlar</li>
					<li>Geri Bildirim</li>
				</ul>
				<div class="detail-content">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum 
has been the industry's standard dummy text ever since the 1500s, when an unknown 
printer took a galley of type and scrambled it to make a type specimen book. It has 
survived not only five centuries, but also the leap into electronic typesetting, remaining 
essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets 
containing Lorem Ipsum passages, and more recently with desktop publishing 
				</div>
				<div class="detail-content">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum 
has been the industry's standard dummy text ever since the 1500s, when an unknown 
printer took a galley of type and scrambled it to make a type specimen book. It has 
survived not only five centuries, but also the leap into electronic typesetting, remaining 
essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets 
containing Lorem Ipsum passages, and more recently with desktop publishing 
				</div>
				<div class="detail-content">
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum 
has been the industry's standard dummy text ever since the 1500s, when an unknown 
printer took a galley of type and scrambled it to make a type specimen book. It has 
survived not only five centuries, but also the leap into electronic typesetting, remaining 
essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets 
containing Lorem Ipsum passages, and more recently with desktop publishing 
				</div>
			</div>
			<!-- PRODUCT DETAILS END -->
		<div style="clear:both;"></div>
	</div>
	<!-- CONTENT END -->
</div>
<!-- WRAPPER END -->
<!-- CARD START -->
<div id="card">
	<img src="resimler/card.png" alt="" />
</div>
<!-- CARD END -->
<!-- FOOTER START -->
<div id="footer">
	<div class="container">
		<ul>
			<li class="title">Müşteri Hizmetleri</li>
			<li><a href="#">İletişim</a></li>
			<li><a href="#">Sipariş & Ödeme</a></li>
			<li><a href="#">Hızlı Teslimat</a></li>
			<li><a href="#">Değiştirme & İade</a></li>
			<li><a href="#">Sıkça Sorulan Sorular</a></li>
		</ul>
		<ul>
			<li class="title">Siteadı.com</li>
			<li><a href="#">Hakkımızda</a></li>
			<li><a href="#">Mesafeli Şatış Sözleşmesi</a></li>
			<li><a href="#">Güvenlik Politikası</a></li>
			<li><a href="#">Gizlilik Politikası</a></li>
			<li><a href="#">Site Haritası</a></li>
			<li><a href="#">Sitede Arananlar</a></li>
		</ul>
		<img src="resimler/adress.png" alt="" style="float:right; " />
	</div>
</div>
<!-- FOOTER END -->
</body>
</html>