<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- CSS START -->
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/slider.css" />
<!-- CSS END -->
<!-- JAVASCRIPT START -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="js/easySlider1.7.js"></script>
<script type="text/javascript">
	$(document).ready(function(){	
		$("#slider").easySlider({
			auto: true, 
			continuous: true
		});
	});	
	</script>
<!-- JAVASCRIPT END -->
<title>Orange Template Anasayfa</title>
</head>
<body>
<!-- WRAPPER START -->
<div id="wrapper">
	<!-- HEADER START -->
	<div id="header">
		<!-- TOP INFO START -->
		<div id="top-info">
			<p>ÜCRETSİZ <br/> değişim ve iade</p>
			<p>30 GÜN <br/> iade garantisi</p>
			<p>%100 <br/> orjinal ürünler</p>
			<p>Müşteri hizmetleri <br/> 0(216) 4448 444</p>
		</div>
		<!-- TOP INFO END -->
		<div style="clear:right;"></div>
		<!-- LOGO START -->
		<div id="logo"><a href="#"><img src="resimler/logo.png" alt="" /></a></div>
		<!-- LOGO END -->
		<!-- SEARCH START -->
		<div id="search">
			<form action="#" method="post">
				<input type="text" class="search-box" placeholder="Aramak istediğiniz ürün adı" />
				<input type="submit" class="search-button" value="" />
			</form>
		</div>
		<!-- SEARCH END -->
		<!-- BASKET START -->
		<p class="basket">Sepetinizde <b>1 Adet</b> ürün bulunuyor.</p>
		<!-- BASKET END -->
		<div style="clear:both;"></div>
		<!-- MENU START -->
		<ul id="menu">
			<li><a href="#">KADIN</a></li>
			<li><a href="#">ERKEK</a></li>
			<li><a href="#">ÇOCUK</a></li>
			<li><a href="#">EKİPMAN</a></li>
			<li><a href="#">SPOR</a></li>
			<li><a href="#">TARAFTAR</a></li>
		</ul>
		<!-- MENU END -->
	</div>
	<!-- HEADER END -->
	<!-- SLIDER START -->
	<div id="slider">
		<ul>
			<li><img src="resimler/slider.png" alt="" /></li>
		</ul>
	</div>
	<!-- SLIDER END -->
	<!-- RIGHT BOX START -->
	<div id="right-box">
		<img src="resimler/cargo.png" alt="" />
		<div class="e-bulten">
			<img src="resimler/mail.png" alt="" />
			<div style="clear:left;"></div>
			<form action="#">
				<p>E-bülten listemize kayıt olun.</p>
				<input type="text" class="bulten-box" placeholder="e-mail adresiniz" />
				<input type="submit" class="add" value="" />
			</form>
		</div>
	</div>
	<!-- RIGHT BOX END -->
	<div style="clear:both;"></div>
	<img src="resimler/options.png" alt="" style="margin:10px 0 10px 0;" />
	<!-- CONTENT START -->
	<div id="content">
		<!-- SIDEBAR START -->
		<div id="sidebar">
			<p class="side-title">Kategoriler</p>
			<ul>
				<li><a href="#">Krampon</a></li>
				<li><a href="#">Mayo</a></li>
				<li><a href="#">Maske-Şnorkel</a></li>
				<li><a href="#">Çadır</a></li>
				<li><a href="#">Pinpon Masası</a></li>
				<li><a href="#">Basketbol Topu</a></li>
				<li><a href="#">Futbol Topu</a></li>
				<li><a href="#">Voleybol Topu</a></li>
				<li><a href="#">Tenis Topu</a></li>
				<li><a href="#">Squash Topu</a></li>
				<li><a href="#">Tenis Raketi</a></li>
				<li><a href="#">Badminton Raketi</a></li>
				<li><a href="#">Squash Raketi</a></li>
				<li><a href="#">Masa Tenisi Raketi</a></li>
				<li><a href="#">Tenis Çantası</a></li>
				<li><a href="#">Outdoor Çantası</a></li>
				<li><a href="#">Squash Çantası</a></li>
				<li><a href="#">Voleybol Çantası</a></li>
			</ul>
			<p class="side-title">Bilgi Sayfaları</p>
			<ul>
				<li><a href="#">İletişim</a></li>
				<li><a href="#">Sipariş & Ödeme</a></li>
				<li><a href="#">Hızlı Teslimat</a></li>
				<li><a href="#">Değiştirme & İade</a></li>
			</ul>
		</div>
		<!-- SIDEBAR END -->
		<!-- PRODUCTS START -->
		<div id="products">
			<ul>
				<!-- PRODUCT START -->
				<li class="product">
					<p class="product-image"><img src="resimler/image.png" alt="" /></p>
					<h1><a href="#">Nike - Cbf Authentic N98 - 478293-703</a></h1>
					<p class="product-info">
						<span>179 TL</span>
						<a href="#">sepete ekle</a>
					</p>
				</li>
				<!-- PRODUCT END -->
				<!-- PRODUCT START -->
				<li class="product">
					<p class="product-image"><img src="resimler/image.png" alt="" /></p>
					<h1><a href="#">Nike - Cbf Authentic N98 - 478293-703</a></h1>
					<p class="product-info">
						<span>179 TL</span>
						<a href="#">sepete ekle</a>
					</p>
				</li>
				<!-- PRODUCT END -->
				<!-- PRODUCT START -->
				<li class="product">
					<p class="product-image"><img src="resimler/image.png" alt="" /></p>
					<h1><a href="#">Nike - Cbf Authentic N98 - 478293-703</a></h1>
					<p class="product-info">
						<span>179 TL</span>
						<a href="#">sepete ekle</a>
					</p>
				</li>
				<!-- PRODUCT END -->
				<!-- PRODUCT START -->
				<li class="product">
					<p class="product-image"><img src="resimler/image.png" alt="" /></p>
					<h1><a href="#">Nike - Cbf Authentic N98 - 478293-703</a></h1>
					<p class="product-info">
						<span>179 TL</span>
						<a href="#">sepete ekle</a>
					</p>
				</li>
				<!-- PRODUCT END -->
				<!-- PRODUCT START -->
				<li class="product">
					<p class="product-image"><img src="resimler/image.png" alt="" /></p>
					<h1><a href="#">Nike - Cbf Authentic N98 - 478293-703</a></h1>
					<p class="product-info">
						<span>179 TL</span>
						<a href="#">sepete ekle</a>
					</p>
				</li>
				<!-- PRODUCT END -->
				<!-- PRODUCT START -->
				<li class="product">
					<p class="product-image"><img src="resimler/image.png" alt="" /></p>
					<h1><a href="#">Nike - Cbf Authentic N98 - 478293-703</a></h1>
					<p class="product-info">
						<span>179 TL</span>
						<a href="#">sepete ekle</a>
					</p>
				</li>
				<!-- PRODUCT END -->
				<!-- PRODUCT START -->
				<li class="product">
					<p class="product-image"><img src="resimler/image.png" alt="" /></p>
					<h1><a href="#">Nike - Cbf Authentic N98 - 478293-703</a></h1>
					<p class="product-info">
						<span>179 TL</span>
						<a href="#">sepete ekle</a>
					</p>
				</li>
				<!-- PRODUCT END -->
				<!-- PRODUCT START -->
				<li class="product">
					<p class="product-image"><img src="resimler/image.png" alt="" /></p>
					<h1><a href="#">Nike - Cbf Authentic N98 - 478293-703</a></h1>
					<p class="product-info">
						<span>179 TL</span>
						<a href="#">sepete ekle</a>
					</p>
				</li>
				<!-- PRODUCT END -->
			</ul>
		</div>
		<!-- PRODUCTS END -->
		<div style="clear:left;"></div>
	</div>
	<!-- CONTENT END -->
</div>
<!-- WRAPPER END -->
<!-- CARD START -->
<div id="card">
	<img src="resimler/card.png" alt="" />
</div>
<!-- CARD END -->
<!-- FOOTER START -->
<div id="footer">
	<div class="container">
		<ul>
			<li class="title">Müşteri Hizmetleri</li>
			<li><a href="#">İletişim</a></li>
			<li><a href="#">Sipariş & Ödeme</a></li>
			<li><a href="#">Hızlı Teslimat</a></li>
			<li><a href="#">Değiştirme & İade</a></li>
			<li><a href="#">Sıkça Sorulan Sorular</a></li>
		</ul>
		<ul>
			<li class="title">Siteadı.com</li>
			<li><a href="#">Hakkımızda</a></li>
			<li><a href="#">Mesafeli Şatış Sözleşmesi</a></li>
			<li><a href="#">Güvenlik Politikası</a></li>
			<li><a href="#">Gizlilik Politikası</a></li>
			<li><a href="#">Site Haritası</a></li>
			<li><a href="#">Sitede Arananlar</a></li>
		</ul>
		<img src="resimler/adress.png" alt="" style="float:right; " />
	</div>
</div>
<!-- FOOTER END -->
</body>
</html>