<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
	<title>Drugstore</title>
	<link rel="stylesheet" type="text/css" href="css/all.css" media="all" />
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<div class="bar">
				<div class="bar-holder">
					<div class="enter">
						<a class="btn-registration" href="#">Kayıt ol</a>
						<a class="btn-enter" href="#">Üye girişi</a>
						<span>Hoşgeldin, <a href="#">ziyaretçi</a> <br />Siteye <a href="#">üye ol</a> yada <a href="#">giriş yap</a></span>
					</div>
					<div class="cart">
						<a class="btn-cart" href="#">cart</a>
						<span>Sepetinizde  <a href="#">1 Adet</a><br /> ürün bulunuyor.</span>
					</div>
				</div>
			</div>
			<div class="header-holder">
				<div class="block">
					<strong class="logo"><a href="#">drugstore.com the uncommon drugstore</a></strong>
					<div class="search">
						<div class="free"><span class="green">Yeni!</span><span class="blue">100 TL ve üzeri alışverişlerde</span><span class="orange">ücretsiz kargo!</span></div>
						<form class="search-form" action="#">
							<fieldset>
								<div class="text">
									<input type="text" value="kelime yazın" />
								</div>
								<input class="btn-serch" type="submit" value="serch" />
							</fieldset>
						</form>
					</div>
				</div>
				<ul id="nav">
					<li><a href="#">Güzellik &amp; Bakım</a></li>
					<li><a href="#">Anne &amp; Bebek</a></li>
					<li><a href="#">Giyim &amp; icgiyim</a></li>
					<li><a href="#">Takı &amp; Aksesuar</a></li>
					<li><a href="#">Ayakkabı</a></li>
					<li><a href="#">Fantazi ürünler</a></li>
					<li><a href="#">Blog</a></li>
				</ul>
				<div class="action">
					<span>Şimdi üye ol</span>
					<strong>20 TL indirim kuponunu  hemen kullan!</strong>
				</div>
			</div>
		</div>
		<div id="main">
			<div class="promo">
				<div class="baner">
					<a href="#"><img src="images/img13.jpg" width="663" height="303" alt="description" /></a>
				</div>
				<div class="news-gallery">
					<div class="gmask">
						<ul>
							<li>
								<img src="images/img17.jpg" width="331" height="152" alt="description" />
								<strong class="title">Tüm indirimli ürünleri listeleyin.</strong>
							</li>
						</ul>
					</div>
					<a class="btn-prev" href="#">&lt;</a>
					<a class="btn-next" href="#">&gt;</a>
					<span>Döner haber baslıgı</span>
				</div>
				<ul class="brands">
					<li><a href="#"><img src="images/img14.jpg" width="328" height="137" alt="description" /></a></li>
					<li><a href="#"><img src="images/img15.jpg" width="328" height="137" alt="description" /></a></li>
					<li><a href="#"><img src="images/img16.jpg" width="328" height="137" alt="description" /></a></li>
				</ul>
			</div>
			<div class="specials">
				<div class="heading">
					<h2>indirimdekiler</h2>
				</div>
				<div class="product-gallery">
					<a class="btn-prev" href="#">&lt;</a>
					<a class="btn-next" href="#">&gt;</a>
					<div class="gmask">
						<ul>
							<li>
								<a href="#"><img src="images/img18.jpg" width="145" height="165" alt="description" /></a>
								<span class="style">Stil ayakkabı</span>
								<p>Ayaklarınızın rahatlığı ve şıklığı için tasarlanmıştır.</p>
								<span class="price">148 TL</span>
							</li>
							<li>
								<a href="#"><img src="images/img18.jpg" width="145" height="165" alt="description" /></a>
								<span class="style">Stil ayakkabı</span>
								<p>Ayaklarınızın rahatlığı ve şıklığı için tasarlanmıştır.</p>
								<span class="price">148 TL</span>
							</li>
							<li>
								<a href="#"><img src="images/img18.jpg" width="145" height="165" alt="description" /></a>
								<span class="style">Stil ayakkabı</span>
								<p>Ayaklarınızın rahatlığı ve şıklığı için tasarlanmıştır.</p>
								<span class="price">148 TL</span>
							</li>
							<li>
								<a href="#"><img src="images/img18.jpg" width="145" height="165" alt="description" /></a>
								<span class="style">Stil ayakkabı</span>
								<p>Ayaklarınızın rahatlığı ve şıklığı için tasarlanmıştır.</p>
								<span class="price">148 TL</span>
							</li>
							<li>
								<a href="#"><img src="images/img18.jpg" width="145" height="165" alt="description" /></a>
								<span class="style">Stil ayakkabı</span>
								<p>Ayaklarınızın rahatlığı ve şıklığı için tasarlanmıştır.</p>
								<span class="price">148 TL</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="recommended">
				<div class="heading">
					<h2>Tavsiye ürünler</h2>
				</div>
				<div class="product-gallery">
					<a class="btn-prev" href="#">&lt;</a>
					<a class="btn-next" href="#">&gt;</a>
					<div class="gmask">
						<ul>
							<li>
								<a href="#"><img src="images/img18.jpg" width="145" height="165" alt="description" /></a>
								<span class="style">Stil ayakkabı</span>
								<p>Ayaklarınızın rahatlığı ve şıklığı için tasarlanmıştır.</p>
								<span class="price">148 TL</span>
							</li>
							<li>
								<a href="#"><img src="images/img18.jpg" width="145" height="165" alt="description" /></a>
								<span class="style">Stil ayakkabı</span>
								<p>Ayaklarınızın rahatlığı ve şıklığı için tasarlanmıştır.</p>
								<span class="price">148 TL</span>
							</li>
							<li>
								<a href="#"><img src="images/img18.jpg" width="145" height="165" alt="description" /></a>
								<span class="style">Stil ayakkabı</span>
								<p>Ayaklarınızın rahatlığı ve şıklığı için tasarlanmıştır.</p>
								<span class="price">148 TL</span>
							</li>
							<li>
								<a href="#"><img src="images/img18.jpg" width="145" height="165" alt="description" /></a>
								<span class="style">Stil ayakkabı</span>
								<p>Ayaklarınızın rahatlığı ve şıklığı için tasarlanmıştır.</p>
								<span class="price">148 TL</span>
							</li>
							<li>
								<a href="#"><img src="images/img18.jpg" width="145" height="165" alt="description" /></a>
								<span class="style">Stil ayakkabı</span>
								<p>Ayaklarınızın rahatlığı ve şıklığı için tasarlanmıştır.</p>
								<span class="price">148 TL</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div id="footer">
			<div class="footer-holder">
				<div class="block">
					<div class="col-holder">
						<div class="col">
							<h2>KURUMSAL</h2>
							<ul>
								<li><a href="#">Hakkımızda</a></li>
								<li><a href="#">Mağazalarımız</a></li>
								<li><a href="#">İnsan Kaynakları</a></li>
							</ul>
						</div>
						<div class="col">
							<h2>YARDIM VE İLETİŞİM</h2>
							<ul>
								<li><a href="#">Müşteri Destek</a></li>
								<li><a href="#">Bize Ulaşın</a></li>
								<li><a href="#">Sıkça Sorulan Sorular</a></li>
							</ul>
						</div>
						<div class="col">
							<h2>MÜŞTERİ HİZMETLERİ</h2>
							<ul>
								<li><a href="#">Kargo ve Teslimat</a></li>
								<li><a href="#">Sipariş Takibi</a></li>
								<li><a href="#">Havale Bildirim Formu</a></li>
							</ul>
						</div>
					</div>
					<p>Bu sitede yer alan görseller ve içerik izinsiz olarak kopyalanamaz ve kullanılamaz. Aksi durumlarda yasal işlem uygulanacaktır.</p>
				</div>
				<div class="container">
					<h2>Siteadı.com</h2><span class="slogan">slogan buraya</span>
					<address>Bağdat Cad. Yolaç Plaza No:36/108 Kızıltoprak Kadıköy / İstanbul</address>
					<dl><dt>Tel :</dt><dd> 0(212) 414 08 54</dd></dl>
					<ul class="sponsors">
						<li>
							<a href="#"><img src="images/img2.jpg" width="60" height="20" alt="descriptions" /></a>
						</li>
						<li>
							<a href="#"><img src="images/img3.jpg" width="60" height="20" alt="descriptions" /></a>
						</li>
						<li>
							<a href="#"><img src="images/img4.jpg" width="60" height="20" alt="descriptions" /></a>
						</li>
						<li>
							<a href="#"><img src="images/img5.jpg" width="60" height="20" alt="descriptions" /></a>
						</li>
						<li>
							<a href="#"><img src="images/img6.jpg" width="60" height="20" alt="descriptions" /></a>
						</li>
						<li>
							<a href="#"><img src="images/img7.jpg" width="60" height="20" alt="descriptions" /></a>
						</li>
						<li>
							<a href="#"><img src="images/img8.jpg" width="60" height="20" alt="descriptions" /></a>
						</li>
						<li>
							<a href="#"><img src="images/img9.jpg" width="60" height="20" alt="descriptions" /></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</body>
</html>