<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- css -->
<link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/slider.css" />
<!-- #css -->
<!-- javascript start -->
<script src="js/jquery15.js" type="text/javascript"></script>
<script src="js/jquery18.js" type="text/javascript"></script>
<script type="text/javascript" src="js/easySlider1.7.js"></script>
<script type="text/javascript">
		$(document).ready(function(){	
			$("#slider").easySlider({
				auto: true, 
				continuous: true
			});
		});	
</script>
	
<script type="text/javascript">
		$(document).ready(function() {
	$("#tabs").tabs();
	});
</script>
<!-- javascript end -->
<title>markaClick - Anasayfa</title>
</head>
<body>
<!-- CONTAINER START -->
<div id="container">
	<!-- HEADER START -->
	<div id="header">
		<!-- LOGO START -->
		<div id="logo"><a href="#"><img src="resimler/logo.png" alt="" /></a></div>
		<!-- LOGO END -->
		<!-- TOP MENU START -->
		<div id="top-menu">
			<ul>
				<li class="customer-service"><a href="#">Müşteri Hizmetleri</a></li>
				<li class="my-account"><a href="#">Hesabım</a></li>
				<li class="my-basket"><a href="#">Sepetim</a></li>
			</ul>
		</div>
		<!-- TOP MENU END -->
		<div style="clear:both;"></div>
		<!-- MENU START -->
		<div id="menu">
			<ul>
				<li><a href="#">Tüm kategoriler</a></li>
				<li><a href="#">Bilgisayar</a></li>
				<li><a href="#">Elektronik</a></li>
				<li><a href="#">Takı Aksesuar</a></li>
				<li><a href="#">Cep telefonu</a></li>
				<li><a href="#">Kitap Kırtasiye</a></li>                                  
			</ul>
			<!-- SEARCH START -->
			<div id="search">
				<form action="#" method="post">
					<input type="text" class="search-box" />
					<input type="submit" class="search-button" value="" /> 
				</form>
			</div>
			<!-- SEARCH END -->
		</div>
		<!-- MENU END -->
	</div>
	<!-- HEADER END -->
	<!-- SLİDER START -->
	
	<div id="slider">
		<ul>				
			<li><a href="#"><img src="resimler/slider.png" alt="" /></a></li>			
			<li><a href="#"><img src="resimler/slider.png" alt="" /></a></li>			
			<li><a href="#"><img src="resimler/slider.png" alt="" /></a></li>			
			<li><a href="#"><img src="resimler/slider.png" alt="" /></a></li>			
		</ul>
	</div>
	<!-- SLİDER END -->
	<!-- LEFT BOX START -->
	<div id="left-box">
		<!-- EMAİL START -->
		<div id="email-box">
			<h1>E-bülten listemize kayıt olun.</h1>
			<div style="clear:left;"></div>
			<p>Güncel kampanya ve duyurulardan haberdar olmak için e-bülten listemize kayıt olabilirsiniz.</p>
			<form action="#">
				<input type="text" class="email-box" />
				<input type="submit" class="email-button" value="" />
			</form>
		</div>
		<!-- EMAİL END -->
		<!-- FACEBOOK START -->
		<div id="facebook-page">
			<img src="resimler/facebook.png" alt="" />
			<h1>Facebook sayfamızı gördünü mü?</h1>
			<p>Facebook sayfamızı beğenin, kampanya, duyuru ve indirimleri anında yakalayın.</p>
			<a href="#"><img src="resimler/facebooklink.png" alt="" style="margin:10px 0 0 20px;" /></a>
		</div>
		<!-- FACEBOOK END -->
	</div>
	<!-- LEFT BOX END -->
	<div style="clear:both;"></div>
	<!-- BANNER START -->
	<div id="banner"><img src="resimler/banner.png" alt="" /></div>
	<!-- BANNER END -->
	<!-- INFO START -->
	<div id="info"><img src="resimler/bilgiler.png" alt="" /></div>
	<!-- INFO END -->
	<!-- PRODUCTS START -->
	<div id="products">
		
		<div id="tabs">
			<ul>
				<li><a href="#fragment-1"><span>Vitrin ürünleri</span></a></li>
				<li><a href="#fragment-2"><span>İndirimdekiler</span></a></li>
				<li><a href="#fragment-3"><span>Son çıkanlar</span></a></li>
			</ul>
			<div style="clear:left;"></div>
			<div class="products-content">
				<div id="fragment-1" class="products-content">
					<!-- PRODUCT START -->
					<div class="product">
						<img src="resimler/yeni.png" alt="" style="margin:-3px 0 0 -3px;" />
						<p class="product-photo"><img src="resimler/resim.jpg" alt="" /></p>
						<p class="product-name"><a href="#">Ürün adı buraya</a></p>
						<p class="product-info">Lorem Ipsum is simply dummy  text of the printing and typesetting industry.</p>
						<p class="price">109.00 TL</p>
						<p class="detail"><a href="#"><img src="resimler/detay.png" alt="" /></a></p>
					</div>
					<!-- PRODUCT END -->
					<!-- PRODUCT START -->
					<div class="product">
						<img src="resimler/yeni.png" alt="" style="margin:-3px 0 0 -3px;" />
						<p class="product-photo"><img src="resimler/resim.jpg" alt="" /></p>
						<p class="product-name"><a href="#">Ürün adı buraya</a></p>
						<p class="product-info">Lorem Ipsum is simply dummy  text of the printing and typesetting industry.</p>
						<p class="price">109.00 TL</p>
						<p class="detail"><a href="#"><img src="resimler/detay.png" alt="" /></a></p>
					</div>
					<!-- PRODUCT END -->
					<!-- PRODUCT START -->
					<div class="product">
						<img src="resimler/yeni.png" alt="" style="margin:-3px 0 0 -3px;" />
						<p class="product-photo"><img src="resimler/resim.jpg" alt="" /></p>
						<p class="product-name"><a href="#">Ürün adı buraya</a></p>
						<p class="product-info">Lorem Ipsum is simply dummy  text of the printing and typesetting industry.</p>
						<p class="price">109.00 TL</p>
						<p class="detail"><a href="#"><img src="resimler/detay.png" alt="" /></a></p>
					</div>
					<!-- PRODUCT END -->
					<!-- PRODUCT START -->
					<div class="product">
						<img src="resimler/yeni.png" alt="" style="margin:-3px 0 0 -3px;" />
						<p class="product-photo"><img src="resimler/resim.jpg" alt="" /></p>
						<p class="product-name"><a href="#">Ürün adı buraya</a></p>
						<p class="product-info">Lorem Ipsum is simply dummy  text of the printing and typesetting industry.</p>
						<p class="price">109.00 TL</p>
						<p class="detail"><a href="#"><img src="resimler/detay.png" alt="" /></a></p>
					</div>
					<!-- PRODUCT END -->
					<!-- PRODUCT START -->
					<div class="product">
						<img src="resimler/yeni.png" alt="" style="margin:-3px 0 0 -3px;" />
						<p class="product-photo"><img src="resimler/resim.jpg" alt="" /></p>
						<p class="product-name"><a href="#">Ürün adı buraya</a></p>
						<p class="product-info">Lorem Ipsum is simply dummy  text of the printing and typesetting industry.</p>
						<p class="price">109.00 TL</p>
						<p class="detail"><a href="#"><img src="resimler/detay.png" alt="" /></a></p>
					</div>
					<!-- PRODUCT END -->
					<!-- PRODUCT START -->
					<div class="product">
						<img src="resimler/yeni.png" alt="" style="margin:-3px 0 0 -3px;" />
						<p class="product-photo"><img src="resimler/resim.jpg" alt="" /></p>
						<p class="product-name"><a href="#">Ürün adı buraya</a></p>
						<p class="product-info">Lorem Ipsum is simply dummy  text of the printing and typesetting industry.</p>
						<p class="price">109.00 TL</p>
						<p class="detail"><a href="#"><img src="resimler/detay.png" alt="" /></a></p>
					</div>
					<!-- PRODUCT END -->
					<!-- PRODUCT START -->
					<div class="product">
						<img src="resimler/yeni.png" alt="" style="margin:-3px 0 0 -3px;" />
						<p class="product-photo"><img src="resimler/resim.jpg" alt="" /></p>
						<p class="product-name"><a href="#">Ürün adı buraya</a></p>
						<p class="product-info">Lorem Ipsum is simply dummy  text of the printing and typesetting industry.</p>
						<p class="price">109.00 TL</p>
						<p class="detail"><a href="#"><img src="resimler/detay.png" alt="" /></a></p>
					</div>
					<!-- PRODUCT END -->
					<!-- PRODUCT START -->
					<div class="product">
						<img src="resimler/yeni.png" alt="" style="margin:-3px 0 0 -3px;" />
						<p class="product-photo"><img src="resimler/resim.jpg" alt="" /></p>
						<p class="product-name"><a href="#">Ürün adı buraya</a></p>
						<p class="product-info">Lorem Ipsum is simply dummy  text of the printing and typesetting industry.</p>
						<p class="price">109.00 TL</p>
						<p class="detail"><a href="#"><img src="resimler/detay.png" alt="" /></a></p>
					</div>
					<!-- PRODUCT END -->
					<div style="clear:left;"></div>
				</div>
				<div id="fragment-2" class="products-content">
					<!-- PRODUCT START -->
					<div class="product">
						<img src="resimler/yeni.png" alt="" style="margin:-3px 0 0 -3px;" />
						<p class="product-photo"><img src="resimler/resim.jpg" alt="" /></p>
						<p class="product-name"><a href="#">2Ürün adı buraya</a></p>
						<p class="product-info">Lorem Ipsum is simply dummy  text of the printing and typesetting industry.</p>
						<p class="price">109.00 TL</p>
						<p class="detail"><a href="#"><img src="resimler/detay.png" alt="" /></a></p>
					</div>
					<!-- PRODUCT END -->
					<!-- PRODUCT START -->
					<div class="product">
						<img src="resimler/yeni.png" alt="" style="margin:-3px 0 0 -3px;" />
						<p class="product-photo"><img src="resimler/resim.jpg" alt="" /></p>
						<p class="product-name"><a href="#">2Ürün adı buraya</a></p>
						<p class="product-info">Lorem Ipsum is simply dummy  text of the printing and typesetting industry.</p>
						<p class="price">109.00 TL</p>
						<p class="detail"><a href="#"><img src="resimler/detay.png" alt="" /></a></p>
					</div>
					<!-- PRODUCT END -->
					<!-- PRODUCT START -->
					<div class="product">
						<img src="resimler/yeni.png" alt="" style="margin:-3px 0 0 -3px;" />
						<p class="product-photo"><img src="resimler/resim.jpg" alt="" /></p>
						<p class="product-name"><a href="#">2Ürün adı buraya</a></p>
						<p class="product-info">Lorem Ipsum is simply dummy  text of the printing and typesetting industry.</p>
						<p class="price">109.00 TL</p>
						<p class="detail"><a href="#"><img src="resimler/detay.png" alt="" /></a></p>
					</div>
					<!-- PRODUCT END -->
					<!-- PRODUCT START -->
					<div class="product">
						<img src="resimler/yeni.png" alt="" style="margin:-3px 0 0 -3px;" />
						<p class="product-photo"><img src="resimler/resim.jpg" alt="" /></p>
						<p class="product-name"><a href="#">2Ürün adı buraya</a></p>
						<p class="product-info">Lorem Ipsum is simply dummy  text of the printing and typesetting industry.</p>
						<p class="price">109.00 TL</p>
						<p class="detail"><a href="#"><img src="resimler/detay.png" alt="" /></a></p>
					</div>
					<!-- PRODUCT END -->
					<!-- PRODUCT START -->
					<div class="product">
						<img src="resimler/yeni.png" alt="" style="margin:-3px 0 0 -3px;" />
						<p class="product-photo"><img src="resimler/resim.jpg" alt="" /></p>
						<p class="product-name"><a href="#">2Ürün adı buraya</a></p>
						<p class="product-info">Lorem Ipsum is simply dummy  text of the printing and typesetting industry.</p>
						<p class="price">109.00 TL</p>
						<p class="detail"><a href="#"><img src="resimler/detay.png" alt="" /></a></p>
					</div>
					<!-- PRODUCT END -->
					<!-- PRODUCT START -->
					<div class="product">
						<img src="resimler/yeni.png" alt="" style="margin:-3px 0 0 -3px;" />
						<p class="product-photo"><img src="resimler/resim.jpg" alt="" /></p>
						<p class="product-name"><a href="#">2Ürün adı buraya</a></p>
						<p class="product-info">Lorem Ipsum is simply dummy  text of the printing and typesetting industry.</p>
						<p class="price">109.00 TL</p>
						<p class="detail"><a href="#"><img src="resimler/detay.png" alt="" /></a></p>
					</div>
					<!-- PRODUCT END -->
					<!-- PRODUCT START -->
					<div class="product">
						<img src="resimler/yeni.png" alt="" style="margin:-3px 0 0 -3px;" />
						<p class="product-photo"><img src="resimler/resim.jpg" alt="" /></p>
						<p class="product-name"><a href="#">2Ürün adı buraya</a></p>
						<p class="product-info">Lorem Ipsum is simply dummy  text of the printing and typesetting industry.</p>
						<p class="price">109.00 TL</p>
						<p class="detail"><a href="#"><img src="resimler/detay.png" alt="" /></a></p>
					</div>
					<!-- PRODUCT END -->
					<!-- PRODUCT START -->
					<div class="product">
						<img src="resimler/yeni.png" alt="" style="margin:-3px 0 0 -3px;" />
						<p class="product-photo"><img src="resimler/resim.jpg" alt="" /></p>
						<p class="product-name"><a href="#">2Ürün adı buraya</a></p>
						<p class="product-info">Lorem Ipsum is simply dummy  text of the printing and typesetting industry.</p>
						<p class="price">109.00 TL</p>
						<p class="detail"><a href="#"><img src="resimler/detay.png" alt="" /></a></p>
					</div>
					<!-- PRODUCT END -->
					<div style="clear:left;"></div>
				</div>
				<div id="fragment-3" class="products-content">
					<!-- PRODUCT START -->
					<div class="product">
						<img src="resimler/yeni.png" alt="" style="margin:-3px 0 0 -3px;" />
						<p class="product-photo"><img src="resimler/resim.jpg" alt="" /></p>
						<p class="product-name"><a href="#">3Ürün adı buraya</a></p>
						<p class="product-info">Lorem Ipsum is simply dummy  text of the printing and typesetting industry.</p>
						<p class="price">109.00 TL</p>
						<p class="detail"><a href="#"><img src="resimler/detay.png" alt="" /></a></p>
					</div>
					<!-- PRODUCT END -->
					<!-- PRODUCT START -->
					<div class="product">
						<img src="resimler/yeni.png" alt="" style="margin:-3px 0 0 -3px;" />
						<p class="product-photo"><img src="resimler/resim.jpg" alt="" /></p>
						<p class="product-name"><a href="#">3Ürün adı buraya</a></p>
						<p class="product-info">Lorem Ipsum is simply dummy  text of the printing and typesetting industry.</p>
						<p class="price">109.00 TL</p>
						<p class="detail"><a href="#"><img src="resimler/detay.png" alt="" /></a></p>
					</div>
					<!-- PRODUCT END -->
					<!-- PRODUCT START -->
					<div class="product">
						<img src="resimler/yeni.png" alt="" style="margin:-3px 0 0 -3px;" />
						<p class="product-photo"><img src="resimler/resim.jpg" alt="" /></p>
						<p class="product-name"><a href="#">3Ürün adı buraya</a></p>
						<p class="product-info">Lorem Ipsum is simply dummy  text of the printing and typesetting industry.</p>
						<p class="price">109.00 TL</p>
						<p class="detail"><a href="#"><img src="resimler/detay.png" alt="" /></a></p>
					</div>
					<!-- PRODUCT END -->
					<!-- PRODUCT START -->
					<div class="product">
						<img src="resimler/yeni.png" alt="" style="margin:-3px 0 0 -3px;" />
						<p class="product-photo"><img src="resimler/resim.jpg" alt="" /></p>
						<p class="product-name"><a href="#">3Ürün adı buraya</a></p>
						<p class="product-info">Lorem Ipsum is simply dummy  text of the printing and typesetting industry.</p>
						<p class="price">109.00 TL</p>
						<p class="detail"><a href="#"><img src="resimler/detay.png" alt="" /></a></p>
					</div>
					<!-- PRODUCT END -->
					<!-- PRODUCT START -->
					<div class="product">
						<img src="resimler/yeni.png" alt="" style="margin:-3px 0 0 -3px;" />
						<p class="product-photo"><img src="resimler/resim.jpg" alt="" /></p>
						<p class="product-name"><a href="#">3Ürün adı buraya</a></p>
						<p class="product-info">Lorem Ipsum is simply dummy  text of the printing and typesetting industry.</p>
						<p class="price">109.00 TL</p>
						<p class="detail"><a href="#"><img src="resimler/detay.png" alt="" /></a></p>
					</div>
					<!-- PRODUCT END -->
					<!-- PRODUCT START -->
					<div class="product">
						<img src="resimler/yeni.png" alt="" style="margin:-3px 0 0 -3px;" />
						<p class="product-photo"><img src="resimler/resim.jpg" alt="" /></p>
						<p class="product-name"><a href="#">3Ürün adı buraya</a></p>
						<p class="product-info">Lorem Ipsum is simply dummy  text of the printing and typesetting industry.</p>
						<p class="price">109.00 TL</p>
						<p class="detail"><a href="#"><img src="resimler/detay.png" alt="" /></a></p>
					</div>
					<!-- PRODUCT END -->
					<!-- PRODUCT START -->
					<div class="product">
						<img src="resimler/yeni.png" alt="" style="margin:-3px 0 0 -3px;" />
						<p class="product-photo"><img src="resimler/resim.jpg" alt="" /></p>
						<p class="product-name"><a href="#">3Ürün adı buraya</a></p>
						<p class="product-info">Lorem Ipsum is simply dummy  text of the printing and typesetting industry.</p>
						<p class="price">109.00 TL</p>
						<p class="detail"><a href="#"><img src="resimler/detay.png" alt="" /></a></p>
					</div>
					<!-- PRODUCT END -->
					<!-- PRODUCT START -->
					<div class="product">
						<img src="resimler/yeni.png" alt="" style="margin:-3px 0 0 -3px;" />
						<p class="product-photo"><img src="resimler/resim.jpg" alt="" /></p>
						<p class="product-name"><a href="#">3Ürün adı buraya</a></p>
						<p class="product-info">Lorem Ipsum is simply dummy  text of the printing and typesetting industry.</p>
						<p class="price">109.00 TL</p>
						<p class="detail"><a href="#"><img src="resimler/detay.png" alt="" /></a></p>
					</div>
					<!-- PRODUCT END -->
					<div style="clear:left;"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- PRODUCTS END -->
</div>
<!-- CONTAINER END -->
<!-- CONTAINER 2 START -->
<div class="container-2">
	<!-- BOTTOM INFO START -->
	<div id="bottom-info">
	buraya bilgi gelecek
	</div>
	<!-- BOTTOM INFO END -->
	<!-- FOOTER START -->
	<div id="footer">
		<!-- FOOTER LEFT START -->
		<div id="footer-left">
			<ul>
				<li><b>KURUMSAL</b></li>
				<li><a href="#">Hakkımızda</a></li>
				<li><a href="#">Mağazalarımız</a></li>
				<li><a href="#">İnsan Kaynakları</a></li>
			</ul>
			<ul>
				<li><b>YARDIM VE İLETİŞİM</b></li>
				<li><a href="#">Müşteri Destek</a></li>
				<li><a href="#">Bize Ulaşın</a></li>
				<li><a href="#">Sıkça Sorulan Sorular</a></li>
			</ul>
			<ul>
				<li><b>MÜŞTERİ HİZMETLERİ</b></li>
				<li><a href="#">Kargo ve Teslimat</a></li>
				<li><a href="#">Sipariş Takibi</a></li>
				<li><a href="#">Havale Bildirim Formu</a></li>
			</ul>
			<div style="clear:left;"></div>
			<p>Bu sitede yer alan görseller ve içerik izinsiz olarak kopyalanamaz ve kullanılamaz.Aksi durumlarda yasal işlem uygulanacaktır.</p>
			<p>
				Bağdat Cad. Yolaç Plaza No:36/108 Kızıltoprak<br/>
				Kadıköy / İstanbul<br/>
				Tel : 0(212) 414 08 54<br/>
			</p>
		</div>
		<!-- FOOTER LEFT END -->
		<!-- FOOTER RİGHT START -->
		<div id="footer-right">
			<h1>E-bülten listemize katılın.</h1>
			<p>E-Bülten Hizmetine katılın haberler, kampanya ve indirimlerden ilk siz haberdar olun</p>
			<form action="#">
				<input type="text" class="bulten-box" />
				<input type="submit" class="bulten-button" value="" />
				<div style="clear:left;"></div>
			</form>
			<p>Site.com müşterilerinin bilgilerinin gizliliğine saygı duyar,özel bilgileriniz hiçbir şekilde paylaşılmayacaktır.</p>
			<div id="bank"><img src="resimler/banka.png" alt="" /></div>
		</div>
		<!-- FOOTER RİGHT END -->
		<div style="clear:left;"></div>
	</div>
	<!-- FOOTER END -->
</div>
<!-- CONTAINER 2 END -->

</body>
</html>