<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>Demofirsat</title>
	<link rel="stylesheet" type="text/css" href="css/all.css" />
	<script type="text/javascript" src="js/main.js"></script>
</head>
<body>
	<div id="wrapper">
		<div id="header">
			<div class="wrapper">
				<h1 class="logo"><a href="#">DEMOFIRSAT HER GÜN YENI FıRSATLAR!</a></h1>
				<div class="top-menu-holder">
					<div class="top-menu-frame">
						<ul class="top-menu">
							<li><a href="#">Sipariş Takip</a></li>
							<li><a href="#">Havale Bildirimi</a></li>
							<li><a href="#">Hakkımızda</a></li>
							<li><a href="#">İletişim</a></li>
						</ul>
					</div>
					<div class="top-menu-after"></div>
				</div>
			</div>
			<div class="nav-holder">
				<ul class="nav">
					<li class="active"><a href="#" class="nav-deal">Günün Fırsatı</a></li>
					<li><a href="#" class="nav-opportunities">Kaçan Fırsatlar</a></li>
					<li><a href="#" class="nav-how">Firmanı Ekle</a></li>
				</ul>
				<div class="aside-box">
					<div class="social-holder">
						<div class="buttons">
							<a href="#" class="btn-register">Üye Olun</a>
							<a href="#" class="btn-login">Üye Girişi</a>
						</div>
						<div class="wrapper">
							<p>Günün Fırsatlarını Hemen Paylaşın!</p>
							<ul class="social">
								<li><a href="#" class="facebook">facebook</a></li>
								<li><a href="#" class="twitter">twitter</a></li>
								<li><a href="#" class="myspace">mySpace</a></li>
								<li><a href="#" class="diggita">Diggita</a></li>
								<li><a href="#" class="friendfeed">FriendFeed</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div id="main">
			<div id="content">
				<div class="promo">
					<div class="opportunity-box">
						<strong class="title">Günün Firsati</strong>
						<h2>Kampanyanın Bitmesine<span> <strong>7</strong> saat <strong>50</strong> dakika <strong>37</strong> saniye</span></h2>
					</div>
					<div class="text-post">
						<p>Yogayı Zeynep Aksoy, David Cornwell ve Rebekka Haas Çetin'den öğrenin! Cihangir Yoga'nın Cihangir ve İstinye şubelerinde 30 günlük limitsiz yoga paketi 135 TL yerine 50 TL!</p>
					</div>
					<div class="visul-container">
						<img src="images/img-1.jpg" alt="image description" width="444" height="294"/>
						<div class="aside">
							<div class="green-box">
								<strong>1052&trade;</strong><span>SATIN AL</span>
							</div>
							<div class="friend-box">
								<a href="#">ARKADAŞINA HEDİYE ET</a>
							</div>
							<div class="brown-box">
								<div class="box-holder">
									<table>
										<tr>
											<th>Değeri</th>
											<th>İndirim</th>
											<th>Kazanç</th>
										</tr>
										<tr>
											<td class="red">1390&trade;</td>
											<td class="blue">%62</td>
											<td class="green">391&trade;</td>
										</tr>
									</table>
								</div>
							</div>
							<div class="blue-box">
								<div class="box-holder">
									<h3>Bu fırsatı <span>978</span> kişi satınaldı.</h3>
									<div class="text">
										<p>10 Ocak 2011 08:09 itibariyle</p>
										<p>10 satış ile fırsat gerçekleşti.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="container">
					<div class="container-holder">
						<div class="column">
							<div class="title">
								<div class="title-holder">
									<h2 class="text-details">Bu Fırsata Ait Detaylar</h2>
								</div>
							</div>
							<ul>
								<li>Bu fırsatla Cihangir Yoga'da 30 günlük yoga tanıtım paketini 135 TL yerine 50 TL'ye alabilirsiniz.</li>
								<li>Kişi başı dilediğiniz kadar fırsat satın alıp, arkadaşlarınıza hediye edebilirsiniz.</li>
								<li>Kişi başı bir adet fırsat kodu kullanılabilir, fırsat kodları birleştirilemez.</li>
								<li>Bir fırsat kodunu sadece bir kişi kullanabilir, fırsat kodları devredilemez.</li>
								<li>Cihangir Yoga şubelerinde (Cihangir ve İstinye) dilediğiniz birinde kullanabilirsiniz.</li>
								<li>Bu fırsattan Cihangir Yoga eski üyeleri ve yeni gelecek herkes yararlanabilir.</li>
								<li>Başka indirim ve kampanyalarla birleştirilemez.</li>
								<li>Bu fırsat 3 ay boyunca, 10 Nisan 2011'e kadar geçerlidir.</li>
								<li>Her türlü konudaki sorularınız için demoçağrı merkezini 0212 437 90 00 numaralı telefondan arayabilirsiniz.</li>
								<li>Merak ettiğiniz tüm konular için SSS bölümünü okuyabilirsiniz.</li>
							</ul>
						</div>
						<div class="column">
							<div class="title">
								<div class="title-holder">
									<h2 class="text-spotlights">Öne Çıkanlar</h2>
								</div>
							</div>
							<ul>
								<li>Cihangir Yoga, yoga sevenlerin yakından tanıdığı merkezlerin başında geliyor.</li>
								<li>Cihangir Yoga'nın her eğitmeni size elinden geldiğince tüm deneyimini sunmayı amaçlar ve bunu samimiyetle, güven vererek, sizi destekleyerek, yüreklendirerek yapar.</li>
								<li>Zeynep Aksoy, David Cornwell ve Rebekka Haas Çetin tarafından kurulan Cihangir Yoga, Türkiye'nin en iyi ve köklü yoga okullarından biri.</li>
								<li>Zeynep Aksoy'un da dediği gibi yogada herkes kendine başka bir yol, başka bir tarz bulabilir ve siz de Cihangir Yoga ile tanışıp, bu yolda onlara arkadaş olabilirsiniz.</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="columns">
					<div class="columns-holder">
						<div class="columns-frame">
							<div class="text">
								<h2 class="text-life">Hayat bu matın üzerinde</h2>
								<p>Tüm vücudunuzun erirmiş gibi çözüldüğünü, bütün yorgunluğun bedeninizden sıyrıldığını düşünebilir misiniz? Yattığınız uykuda, uzun zamandır hiç inemediğiniz evrelere inip, uyandığınızda kendinizi yeniden doğmuş gibi hissettiniz mi? Ve tüm bunları bedeninizde hissederken, zihniniz tertemiz olmuş ve bulanıklıklarını yitirmiş miydi?</p>
								<p>Eğer bunları hayatımda hiç hissetmedim diyorsanız sizi Grupanya’nın bugünkü fırsatından yararlanmaya davet ediyoruz. Grupanya’nın bugün sunduğu fırsat ile Cihangir Yoga’da 30 günlük yoga tanıtım paketini 135 TL yerine 50 TL’ye alabiliyorsunuz.</p>
								<p>Cihangir Yoga, İstanbul’un önde gelen yoga merkezlerinden biri. Zeynep Aksoy, David Cornwell ve Rebekka Haas tarafından kurulan Cihangir Yoga’da başlangıç, orta ve ileri seviye yoga derslerinin yanı sıra, hamile yogası, çocuk yogası, partner yogası ve yoga eğitmenliği gibi dersler de mevcut. Yerli ve yabancı deneyimli bir eğitmen kadrosu ile hizmet veren Cihangir Yoga, bir okuldan çok, yoga severlerin buluştuğu, tanıştığı ve birçok deneyimi, bilgiyi paylaştığı bir yer.</p>
								<h2 class="text-yoga">Yoga Derin Bir Kuyu</h2>
								<p>Çocukluğunda dünyanın farklı ülkelerinde yaşayıp, yıllarca ABD’de eğitim görüp, reklam dünyasında çalışmış bir kişi Zeynep Aksoy. Yoga ile tanışıp, eğitimlerini tamamlama süreci de ABD’de geçiyor. Daha sonra Hindistan’da aldığı eğitimlerin ardından Türkiye’ye gelip önce YogaŞala’yı sonra da Cihangir Yoga’yı kuruyor.</p>
								<blockquote>
									<cite>Zeynep Aksoy:</cite>
									<q>&ldquo;Yogaya olan yaklaşımım sürekli gelişiyor. Yoga o kadar derin bir kuyu ki, herkes kendine bir tarz çıkarabilir. Hem entelektüel olarak, ruhsal olarak, hem de fiziksel olarak doyuruyor. Çevresel ve sosyal boyutları da var. Yoga öğretmek, tutkum… Yoga çatısı altına her türlü yüzleşme çalışmasını dâhil ediyorum, yoga buna izin veriyor; çünkü tanımı çok açık. Patanjali Yoga Sutralarından ‘Yogashcittavrittinirodha’, ‘yoga, zihindeki yansımaların teslimiyeti’ olarak tercüme edilebilir. Kesinlikle yogayı bir zihin kontrol mekanizması olarak görmüyorum ve yetiştirdiğim hocaların açık bir yaklaşım, araştırmacı bir tavırla yoga öğretmelerini amaçlıyorum. Kendi öğrenmeme devam ederek başkaları için de öğrenme ortamı yaratmak istiyoruz. Cihangir Yoga kesinlerin olduğu bir yer değil, ama hayata dalmak için, daha kaliteli ve sağlıklı bir yaşam için gelebileceğiniz bir yer.&rdquo;</q>
								</blockquote>
							</div>
							<div class="info">
								<div class="cell">
									<h3>Cihangir Yoga</h3>
									<address>Adres: Meclis-i Mebusan Yokuşu No: 15, Kat 4<br />Cihangir, Beyoğlu</address>
									<p>Telefon: 0212 243 19 93</p>
									<div class="map"><img src="images/img-2.jpg" alt="image description" width="155" height="156"/></div>
								</div>
								<div class="cell">
									<h3>Cihangir Yoga İstinye</h3>
									<address>Adres: Meclis-i Mebusan Yokuşu No: 15, Kat 4<br />Cihangir, Beyoğlu</address>
									<p>Telefon: 0212 243 19 93</p>
									<div class="map"><img src="images/img-2.jpg" alt="image description" width="155" height="156"/></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div id="sidebar">
				<div class="blue-block">
					<p>Her gün en iyi fırsatları yakalamanızı saglayacak firsat duyuruları en az <strong>%50 indirimle</strong> e-postanızda!</p>
				</div>
				<form action="#" class="email-form">
					<fieldset>
						<h3>Fırsatları Kaçırmamak Için</h3>
						<label for="email">Hemen E-Postanı yaz!</label>
						<div class="row">
							<input type="text" class="text" value="user@email.com" id="email"/>
							<input type="submit" value="Gönder" class="submit"/>
						</div>
					</fieldset>
				</form>
				<div class="gray-block">
					<div class="holder">
						<h3>Arkadasini davet et, kazan!</h3>
						<p>Buraya çağırdığın her arkadaşın sana <span class="mark">10 TL kazandırıyor!</span></p>
						<a href="#" class="btn-invite">Davet G&Ouml;nder</a>
					</div>
				</div>
				<div class="green-block">
					<div class="holder">
						<div class="title">
							<h2 class="text-deal">Günün Anadolu Yakası Fırsatı</h2>
						</div>
						<div class="frame">
							<img class="img bd-red" src="images/img-3.jpg" alt="image description" width="223" height="148"/>
							<p>Hacıbaşar'ın tüm şubelerinde, fındık lahmacun, salata, kebap (Adana, Urfa, iskender, döner, tavuk şiş veya kanat) ve tatlı ile 1 içecek, sınırsız çaydan oluşan fiks menü:</p>
							<strong class="price"><span class="through">34 TL</span> yerine <span class="orange">12,99 TL!</span></strong>
						</div>
					</div>
				</div>
				<div class="green-block">
					<div class="holder">
						<div class="title">
							<h2 class="text-deal-day">Günün Diger Fırsatı</h2>
						</div>
						<div class="frame">
							<img class="img bd-gray" src="images/img-4.jpg" alt="image description" width="223" height="148"/>
							<p>Nişantaşı İngiliz Kültür'de 1 aylık 24 ders okuma, vokabuler, gramer, konuşma ve edebiyattan oluşan Aktivite Programı:</p>
							<strong class="price"><span class="through">34 TL</span> yerine <span class="orange">12,99 TL!</span></strong>
						</div>
					</div>
				</div>
				<div class="green-block gray-container">
					<div class="holder">
						<div class="title">
							<h2 class="text-opportunities">Diger Fırsatlar</h2>
						</div>
						<div class="frame">
							<ul>
								<li>
									<img src="images/img-5.jpg" alt="image description" width="85" height="56"/>
									<div class="text">
										<p>Bağdat Caddesi Enjoy Cafe &amp; Restaurant'tan yapacağınız yiyecek ve içecek harcamalarınız</p>
										<strong class="price mini"><span class="gray">20 TL</span> yerine <span class="orange">9 TL!</span></strong>
									</div>
								</li>
								<li>
									<img src="images/img-5.jpg" alt="image description" width="85" height="56"/>
									<div class="text">
										<p>Bağdat Caddesi Enjoy Cafe &amp; Restaurant'tan yapacağınız yiyecek ve içecek harcamalarınız</p>
										<strong class="price mini"><span class="gray">20 TL</span> yerine <span class="orange">9 TL!</span></strong>
									</div>
								</li>
								<li>
									<img src="images/img-5.jpg" alt="image description" width="85" height="56"/>
									<div class="text">
										<p>Bağdat Caddesi Enjoy Cafe &amp; Restaurant'tan yapacağınız yiyecek ve içecek harcamalarınız</p>
										<strong class="price mini"><span class="gray">20 TL</span> yerine <span class="orange">9 TL!</span></strong>
									</div>
								</li>
								<li>
									<img src="images/img-5.jpg" alt="image description" width="85" height="56"/>
									<div class="text">
										<p>Bağdat Caddesi Enjoy Cafe &amp; Restaurant'tan yapacağınız yiyecek ve içecek harcamalarınız</p>
										<strong class="price mini"><span class="gray">20 TL</span> yerine <span class="orange">9 TL!</span></strong>
									</div>
								</li>
								<li>
									<img src="images/img-5.jpg" alt="image description" width="85" height="56"/>
									<div class="text">
										<p>Bağdat Caddesi Enjoy Cafe &amp; Restaurant'tan yapacağınız yiyecek ve içecek harcamalarınız</p>
										<strong class="price mini"><span class="gray">20 TL</span> yerine <span class="orange">9 TL!</span></strong>
									</div>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer">
		<div class="holder">
			<div class="frame">
				<div class="nav-holder">
					<ul class="nav">
						<li class="active"><a href="#" class="nav-deal">Günün Fırsatı</a></li>
						<li><a href="#" class="nav-opportunities">Kaçan Fırsatlar</a></li>
						<li><a href="#" class="nav-addfirm">Firmanı Ekle</a></li>
					</ul>
					<div class="aside-box">
						<div class="social-holder">
							<p>Günün Fırsatlarını Hemen Paylaşın!</p>
							<ul class="social">
								<li><a href="#" class="facebook">facebook</a></li>
								<li><a href="#" class="twitter">twitter</a></li>
								<li><a href="#" class="diggita">Diggita</a></li>
								<li><a href="#" class="myspace">myspace</a></li>
								<li><a href="#" class="friendfeed">FriendFeed</a></li>
							</ul>
						</div>
					</div>
				</div>
				<strong class="logo"><a href="#">DEMOFIRSAT HER GÜN YENI FıRSATLAR!</a></strong>
				<div class="text">
					<ul class="menu">
						<li><a href="#">Hakkımızda</a></li>
						<li><a href="#">Gizlilik</a></li>
						<li><a href="#">Kullanım Sözleşmesi</a></li>
						<li><a href="#">Sıkça Sorulan Sorular</a></li>
						<li><a href="#">Bize Katılın</a></li>
						<li><a href="#">Bize Ulaşın</a></li>
					</ul>
					<p>&copy; 2011 Demofırsat Tüm hakları saklıdır.</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>