.pagination { width: 690px; padding: 10px;  margin: 0 0 10px 0; text-align:center; display:none;}
.pagination .sort{float: right; font-size: 14px; font-weight:bold; color: #666; line-height: 24px;}
.pagination .sort select {float: right; width: 140px; margin: 3px 0 0 10px;}
.pagination .results {float: left; margin: 0 18px 0 0; font-weight:bold; font-size: 14px; color:#666;}
.pagination .pages {float: left; line-height:12px; margin: 0 24px 0 0; width:100%; border-top:1px solid #ccc; padding:10px; margin:10px; padding-left:0; padding-right:0;}
.pagination .pages a strong { font-size:18px; }
.pagination .pages a{display: inline; color: #47819F; font-size: 14px; margin: 0 4px;}
.pagination .pages a.xprev{display: inline-block; width:10px; height: 10px; background: url("images/prev.png") left center no-repeat; margin: 6px 10px 0 0;}
.pagination .pages a.xnext{display: inline-block; width:10px; height: 10px; background: url("images/next.png") left center no-repeat; margin: 6px 0 0 10px;}
.pagination .view {float: left; font-size: 14px; font-weight:bold; color: #49829d;}
.productList .pagination { display:block; }
.loginForm td { padding:3px; }
.loginForm input { width:140px; }

.gf_input,.loginForm input { 
	width:120xp;
	border: 1px solid #aedae4;
	margin-bottom: 2px;
	height: 22px;
	padding-top: 4px;
	padding-left: 3px;
	padding-right: 3px;
}

.gf_select { 
	max-width:500px;
	border: 1px solid #aedae4;
	padding:4px;
	
}

.gf_textarea { 
	width:500px;
	height:100px;
	border: 1px solid #aedae4;
	margin-bottom: 2px;
	padding-top: 4px;
	padding-left: 3px;
	padding-right: 3px;
}
.loginInput {
	float: right;
	width: 93px;
	border: 1px solid #aedae4;
	margin-bottom: 9px;
	height: 22px;
	padding-top: 4px;
	padding-left: 3px;
	padding-right: 3px;
}

.generatedForm td { padding:3px; }
.generatedForm { font-family:Arial, Helvetica, sans-serif; width:auto;  }
.generatedForm .td1,.generatedForm .td2 { font-weight:bold; }
.generatedForm .td1 { width:150px;}

.allCategories ul li { position:relative;  }
.allCategories ul ul { display:none; position:absolute; left:176px; top:-1px; z-index:100; }
.allCategories ul li ul li a { background:none; background-color:#fff;  }
.allCategories ul li:hover ul { display:block; }

#filterContainer { color:#3c3c3c; }
#filterContainer strong { color:#7c7c7c; }
.defaultBlockContainer  .suggest strong { font-weight:bold; }
.defaultBlockContainer  { width:730px; }
.defaultBlockContainer  .suggest { margin:10px; width:885px; }
.urunsirala select { margin-left:10px; }
.sf-form-container { padding:10px;  }
.basket-wrap { background-color:#fff; width:710px; padding:10px;}
#sepetGoster .basket-wrap { width:auto; }


.l-left,.l-right { width:100% !important; height:auto; }

img.main-image { max-width:400px; max-height:400px; }
