<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<!-- css -->
	<link rel="stylesheet" href="css/style.css" />
	<link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
	<!-- //css -->
	<!-- javascript -->
	<script type="text/javascript" src="js/jquery.js"></script>
	<script type="text/javascript" src="js/easySlider1.7.js"></script>
	<script type="text/javascript" src="js/jquery.bxslider.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){	
			$("#main-slider").easySlider({
				auto: true, 
				continuous: true,
				numeric: true
			});
		});	
	</script>
	<!-- //javascript -->
	<title>iMağaza furkanShop - Anasayfa</title>
</head>
<body>
<!-- header -->
<div class="header">
	<div class="wrapper">
		<!-- logo -->
		<div class="logo"><a href=""><img src="img/logo.png" alt="" /></a></div>
		<!-- //logo -->
		<!-- head user -->
		<div class="head-user">
			<div class="head-user-top">
				<div class="head-phone">0850 333 63 13</div>
				<div class="head-user-menu">
					<ul>
						<li><a href="">Müşteri Hizmetleri</a></li>
						<li><a href="">İletişim</a></li>
					</ul>
				</div>
				<div style="clear:both;"></div>
			</div>
			<div class="user-menu">
				<a href="" class="profile-link"><img src="img/user.png" alt="" /></a>
				<ul>
					<li><a href="">Üye Girişi Yapın</a></li>
					<li><a href="">Ücretsiz Kayıt Ol</a></li>
				</ul>
			</div>
		</div>
		<!-- //head user -->
		<div style="clear:both;"></div>
		<!-- mobile user menu -->
		<div class="mobile-user-menu">
			<ul>
				<li><a href="">Üye Girişi</a></li>
				<li><a href="">Kayıt Ol</a></li>
			</ul>
			<div style="clear:both;"></div>
		</div>
		<!-- //mobile user menu -->
		<!-- mobile search -->
		<div class="mobile-search">
			<form action="">
				<input type="text" class="mobile-box" placeholder="Aramak istediğiniz ürün"/>
				<input type="submit" class="mobile-btn" value="" />
			</form>
		</div>
		<!-- //mobile search -->
		<!-- all category -->
		<div class="all-category">
			<a href="" class="all-link">Tüm Kategoriler</a>
			<div class="all-categories">
				<img src="img/menuarrow.png" class="menu-arrow" alt="" />
				<ul>
					<li><a href="">Bilgisayar</a></li>
					<li><a href="">Telefon</a></li>
					<li><a href="">Tv & Elektronik</a></li>
					<li><a href="">Foto & Kamera</a></li>
					<li><a href="">Oyun Hobi</a></li>
					<li><a href="">Beyaz Eşya</a></li>
					<li><a href="">Ev Aletleri</a></li>
					<li><a href="">Kişisel Bakım</a></li>
					<li><a href="">Aksesuarlar</a></li>
					<li><a href="">Bilgisayar</a></li>
					<li><a href="">Telefon</a></li>
					<li><a href="">Tv & Elektronik</a></li>
					<li><a href="">Foto & Kamera</a></li>
					<li><a href="">Oyun Hobi</a></li>
					<li><a href="">Beyaz Eşya</a></li>
					<li><a href="">Ev Aletleri</a></li>
					<li><a href="">Kişisel Bakım</a></li>
					<li><a href="">Aksesuarlar</a></li>
					<li><a href="">Bilgisayar</a></li>
					<li><a href="">Telefon</a></li>
					<li><a href="">Tv & Elektronik</a></li>
					<li><a href="">Foto & Kamera</a></li>
					<li><a href="">Oyun Hobi</a></li>
					<li><a href="">Beyaz Eşya</a></li>
					<li><a href="">Ev Aletleri</a></li>
					<li><a href="">Kişisel Bakım</a></li>
					<li><a href="">Aksesuarlar</a></li>
					<li><a href="">Bilgisayar</a></li>
					<li><a href="">Telefon</a></li>
					<li><a href="">Tv & Elektronik</a></li>
					<li><a href="">Foto & Kamera</a></li>
					<li><a href="">Oyun Hobi</a></li>
					<li><a href="">Beyaz Eşya</a></li>
					<li><a href="">Ev Aletleri</a></li>
					<li><a href="">Kişisel Bakım</a></li>
					<li><a href="">Aksesuarlar</a></li>
					<li><a href="">Bilgisayar</a></li>
					<li><a href="">Telefon</a></li>
					<li><a href="">Tv & Elektronik</a></li>
					<li><a href="">Foto & Kamera</a></li>
					<li><a href="">Oyun Hobi</a></li>
					<li><a href="">Beyaz Eşya</a></li>
					<li><a href="">Ev Aletleri</a></li>
					<li><a href="">Kişisel Bakım</a></li>
					<li><a href="">Aksesuarlar</a></li>
					<li><a href="">Bilgisayar</a></li>
					<li><a href="">Telefon</a></li>
					<li><a href="">Tv & Elektronik</a></li>
					<li><a href="">Foto & Kamera</a></li>
					<li><a href="">Oyun Hobi</a></li>
					<li><a href="">Beyaz Eşya</a></li>
					<li><a href="">Ev Aletleri</a></li>
					<li><a href="">Kişisel Bakım</a></li>
					<li><a href="">Aksesuarlar</a></li>
					<li><a href="">Beyaz Eşya</a></li>
					<li><a href="">Ev Aletleri</a></li>
					<li><a href="">Kişisel Bakım</a></li>
					<li><a href="">Aksesuarlar</a></li>
					<li><a href="">Bilgisayar</a></li>
					<li><a href="">Telefon</a></li>
					<li><a href="">Tv & Elektronik</a></li>
					<li><a href="">Foto & Kamera</a></li>
					<li><a href="">Oyun Hobi</a></li>
					<li><a href="">Beyaz Eşya</a></li>
					<li><a href="">Ev Aletleri</a></li>
					<li><a href="">Kişisel Bakım</a></li>
					<li><a href="">Aksesuarlar</a></li>
					<li><a href="">Beyaz Eşya</a></li>
					<li><a href="">Ev Aletleri</a></li>
					<li><a href="">Kişisel Bakım</a></li>
					<li><a href="">Aksesuarlar</a></li>
					<li><a href="">Bilgisayar</a></li>
					<li><a href="">Telefon</a></li>
					<li><a href="">Tv & Elektronik</a></li>
					<li><a href="">Foto & Kamera</a></li>
					<li><a href="">Oyun Hobi</a></li>
					<li><a href="">Beyaz Eşya</a></li>
					<li><a href="">Ev Aletleri</a></li>
					<li><a href="">Kişisel Bakım</a></li>
					<li><a href="">Aksesuarlar</a></li>
					<div style="clear:both; height:50px;"></div>
				</ul>
				
				<div class="all-cat-bar">
					En beğendiğiniz markaların en iyi ürünlerine en uygun fiyatlarla hemen sahip olabilirsiniz.
					<div class="view-btn"><a href="">İndirimlere ürünlere gözatın</a></div>
				</div>
			</div>
		</div>
		<!-- //all category -->
		<!-- search -->
		<div class="search">
			<form action="action.php" method="post">
				<input type="text" class="s-box" placeholder="Aradığınız ürünün adını yazın." />
			</form>
		</div>
		<!-- //search -->
		<!-- basket -->
		<div class="basket">
			<a href="">
				<span class="span1">Sepetim</span>
				<span class="span2">1</span>
			</a>
		</div>
		<!-- //basket -->
	</div>
</div>
<!-- //header -->
<!-- content -->
<div class="content">
	<div class="wrapper">
		<!-- detail page -->
		<div class="detail-page">
			<!-- detail block -->
			<div class="detail-block">
				<!-- detail photos -->
				<div class="detail-photos">
					<div class="big-photo"><img src="img/bigphoto.png" alt="" /></div>
					<div class="big-photo"><img src="img/bigphoto.png" alt="" /></div>
					<div class="big-photo"><img src="img/bigphoto.png" alt="" /></div>
					<div class="big-photo"><img src="img/bigphoto.png" alt="" /></div>
					<ul id="small-photos">
						<li><img src="img/smallphoto1.png" alt="" /></li>
						<li><img src="img/smallphoto2.png" alt="" /></li>
						<li><img src="img/smallphoto1.png" alt="" /></li>
						<li><img src="img/smallphoto2.png" alt="" /></li>
					</ul>
					<div style="clear:both; height:50px;"></div>
					<script type="text/javascript">
					$(document).ready(function(){
						$(".big-photo").eq(0).show();
						$("#small-photos li").eq(0).addClass("detail-photo");
						$("#small-photos li").click(function(){
							var number = $(this).index();
						$("#small-photos li").removeClass("detail-photo");
						$(".big-photo").hide().eq(number).fadeIn("slow");
						$("#small-photos li").eq(number).addClass("detail-photo");
						});
					});
				</script>
				</div>
				<!-- //detail photos -->
				<!-- detail info -->
				<div class="detail-info">
					<div class="detail-name">Ürün adı buraya gelecek</div>
					<div class="detail-info-left">
						<div class="detail-price">
							<div class="detail-normal-price">
								<span class="row1">Fiyatı</span>
								<span class="row2">:</span>
								<span class="row3">129,99 TL</span>
							</div>
							<div class="detail-sale-price">
								<span class="row1">İndirimli Fiyatı</span>
								<span class="row2">:</span>
								<span class="row3">49,99 TL</span>
							</div>
						</div>
						<div class="stock-amount">Bu ürünü indirimli alabileceğiniz 12 stok kalmıştır.</div>
						<div class="other-price">
							<div class="cc-price">
								<span class="row1">Kredi Kartı ile Tek Çekim</span>
								<span class="row2">:</span>
								<span class="row3">49,99 TL</span>
							</div>
							<div class="eft-price">
								<span class="row1">Havale ile İndirimli</span>
								<span class="row2">:</span>
								<span class="row3">43,99 TL</span>
							</div>
						</div>
						<div class="product-variant">
							<div class="variant-title">Ürün Seçenekleri</div>
							<div class="variant-content">
								Özellik
								<select name="" id="">
									<option value="">106"</option>
									<option value="">104"</option>
									<option value="">102"</option>
								</select>
							</div>
						</div>
						<div class="detail-btn">
							<a href=""><img src="img/addbasket.png" alt="" /></a>
							<a href=""><img src="img/buynow.png" alt="" /></a>
						</div>
					</div>
					<div class="detail-info-right">
						<div class="detail-icons">
							<div class="discount">%60</div>
							<img src="img/ucretsizkargo.png" alt="" />
							<img src="img/hizliteslimat.png" alt="" />
						</div>
						<div style="clear:both;"></div>
						<div class="detail-badge"><img src="img/detailbadge.png" alt="" /></div>
						<div class="point">499</div>
					</div>
					<div style="clear:both;"></div>
					<div class="read-comments">
						<a href="">Yorumları oku <b>(12)</b> <a href="">
						<ul>
							<li><img src="img/stars.png" alt="" /></li>
							<li><img src="img/stars.png" alt="" /></li>
							<li><img src="img/stars.png" alt="" /></li>
							<li><img src="img/stars.png" alt="" /></li>
							<li><img src="img/stars.png" alt="" /></li>
						</ul>
					</div>
					<div class="detail-process-links">
						<a href="">· Ürün karşılaştırma listeme ekle(Karşılaştır)</a>
						<a href="">· Fiyatı düşünce bildir</a>
						<a href="">· Aklımdakiler listesine ekle</a>
					</div>
				</div>
				<!-- //detail info -->
				<div style="clear:both;"></div>
			</div>
			<!-- //detail block -->
			<!-- detail tabs -->
			<div class="detail-tabs">
				<script type="text/javascript">
					$(document).ready(function(){
						$(".detail-tab-content").eq(0).show();
						$("#detail-tab-titles li").eq(0).addClass("detail-active");
						$("#detail-tab-titles li").click(function(){
							var number = $(this).index();
						$("#detail-tab-titles li").removeClass("detail-active");
						$(".detail-tab-content").hide().eq(number).fadeIn("slow");
						$("#detail-tab-titles li").eq(number).addClass("detail-active");
						});
					});
				</script>
				<ul id="detail-tab-titles">
					<li>Ürün Özellikleri</li>
					<li>Ödeme</li>
					<li>Diğer Resimler</li>
					<li>Yorumlar</li>
					<li>Soru ve Cevaplar</li>
				</ul>
				<div class="detail-tab-wrap">
					<div class="detail-tab-content">
						Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, 
						remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop 
						publishing software like Aldus PageMaker including versions of Lorem Ipsum.
					</div>
					<div class="detail-tab-content">Ödeme</div>
					<div class="detail-tab-content">Diğer Resimler</div>
					<div class="detail-tab-content">Yorumlar</div>
					<div class="detail-tab-content">Soru ve Cevaplar</div>
				</div>
			</div>
			<!-- //detail tabs -->
			<!-- other products -->
			<div class="other-products">
				<div class="other-title">Benzer Ürünler</div>
				<div class="other-wrap">
					<ul class="other-slider">
						<!-- product -->
						<li>
							<div class="product">
								<div class="product-hover">
									<div class="detail-link"><a href=""><img src="img/detailbtn.png" alt="" /></a></div>
								</div>
								<div class="product-wrap">
									<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
									<div class="product-name"><a href="">Canon EOS 650D 18-55MM</a></div>
									<div class="price">1590TL <span>+KDV</span></div>
									<div class="product-text">
										Canon EOS 650D 18-55MM IS 18MP 3.0" LCD SLR Fotoğraf Makinesi
									</div>
								</div>
							</div>
						</li>
						<!-- //product -->
						<!-- product -->
						<li>
							<div class="product">
								<div class="product-hover">
									<div class="detail-link"><a href=""><img src="img/detailbtn.png" alt="" /></a></div>
								</div>
								<div class="product-wrap">
									<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
									<div class="product-name"><a href="">Canon EOS 650D 18-55MM</a></div>
									<div class="price">1590TL <span>+KDV</span></div>
									<div class="product-text">
										Canon EOS 650D 18-55MM IS 18MP 3.0" LCD SLR Fotoğraf Makinesi
									</div>
								</div>
							</div>
						</li>
						<!-- //product -->
						<!-- product -->
						<li>
							<div class="product">
								<div class="product-hover">
									<div class="detail-link"><a href=""><img src="img/detailbtn.png" alt="" /></a></div>
								</div>
								<div class="product-wrap">
									<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
									<div class="product-name"><a href="">Canon EOS 650D 18-55MM</a></div>
									<div class="price">1590TL <span>+KDV</span></div>
									<div class="product-text">
										Canon EOS 650D 18-55MM IS 18MP 3.0" LCD SLR Fotoğraf Makinesi
									</div>
								</div>
							</div>
						</li>
						<!-- //product -->
						<!-- product -->
						<li>
							<div class="product">
								<div class="product-hover">
									<div class="detail-link"><a href=""><img src="img/detailbtn.png" alt="" /></a></div>
								</div>
								<div class="product-wrap">
									<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
									<div class="product-name"><a href="">Canon EOS 650D 18-55MM</a></div>
									<div class="price">1590TL <span>+KDV</span></div>
									<div class="product-text">
										Canon EOS 650D 18-55MM IS 18MP 3.0" LCD SLR Fotoğraf Makinesi
									</div>
								</div>
							</div>
						</li>
						<!-- //product -->
						<!-- product -->
						<li>
							<div class="product">
								<div class="product-hover">
									<div class="detail-link"><a href=""><img src="img/detailbtn.png" alt="" /></a></div>
								</div>
								<div class="product-wrap">
									<div class="product-image"><a href=""><img src="img/product.png" alt="" /></a></div>
									<div class="product-name"><a href="">Canon EOS 650D 18-55MM</a></div>
									<div class="price">1590TL <span>+KDV</span></div>
									<div class="product-text">
										Canon EOS 650D 18-55MM IS 18MP 3.0" LCD SLR Fotoğraf Makinesi
									</div>
								</div>
							</div>
						</li>
						<!-- //product -->
					</ul>
					<div style="clear:both;"></div>
					<script type="text/javascript">
						$(document).ready(function(){
						  $('.other-slider').bxSlider({
							slideWidth: 198,
							minSlides: 5,
							maxSlides: 5,
							slideMargin: 11
						  });
						});
					</script>
				</div>
			</div>
			<!-- //other products -->
		</div>
		<!-- //detail page -->
	</div>	
</div>
<!-- //content -->
<!-- footer -->
<div class="footer">
	<div class="wrapper">
		<!-- footer top -->
		<div class="footer-top">
			<div class="footer-top-title">Haberdar Olun!</div>
			<div class="footer-top-text">siteadi.com bültenlerine üye olup yeniliklerden ve özel fiyatlı ürünlerden haberdar olun.</div>
			<div class="ebulten">
				<form action="">
					<input type="text" placeholder="Eposta Adresiniz" class="e-box" />
					<input type="submit" value="" class="e-btn" />
				</form>
			</div>
		</div>
		<!-- //footer top -->
		<div style="clear:both;"></div>
		<!-- footer left -->
		<div class="footer-left">
			<div class="footer-logo"><a href=""><img src="img/footerlogo.png" alt="" /></a></div>
			<div class="footer-adress">
				<div>SİTE ADI BURAYA GELECEK</div>
				Adres buraya gelecek. No 35/293 Kadıköy İstanbul <br />
				Telefon : 0212 123 45 67 <br />
				E-Posta : 0543 333 69 78
			</div>
		</div>
		<!-- //footer left -->
		<!-- footer menu -->
		<div class="footer-menu last">
			<div class="footer-title">ÜYE İŞLEMLERİ</div>
			<ul>
				<li><a href="">Üye Kayıt</a></li>
				<li><a href="">Üye Giriş</a></li>
				<li><a href="">Sipariş Takibi</a></li>
				<li><a href="">Şifre Hatırlatma</a></li>
				<li><a href="">Alışveriş Listem</a></li>
				<li><a href="">Bilgilerimi Değiştir</a></li>
			</ul>
		</div>
		<!-- //footer menu -->
		<!-- footer menu -->
		<div class="footer-menu">
			<div class="footer-title">KURUMSAL</div>
			<ul>
				<li><a href="">Kurumsal Bilgiler</a></li>
				<li><a href="">Hakkımızda</a></li>
				<li><a href="">Misyon & Vizyon</a></li>
				<li><a href="">Hizmet Anlayışımız</a></li>
				<li><a href="">Bize Ulaşın</a></li>
			</ul>
		</div>
		<!-- //footer menu -->
		<!-- footer menu -->
		<div class="footer-menu">
			<div class="footer-title">YARDIM</div>
			<ul>
				<li><a href="">Teslimat ve İade</a></li>
				<li><a href="">Gizlilik ve Güvenlik</a></li>
				<li><a href="">İptal ve İade Şartları</a></li>
				<li><a href="">Mesafeli Satış Sözleşmesi</a></li>
				<li><a href="">Sıkça Sorulan Sorular</a></li>
				<li><a href="">Garanti ve Kullanım Şartları</a></li>
			</ul>
		</div>
		<!-- //footer menu -->
		<div style="clear:both;"></div>
		<!-- footer bottom -->
		<div class="footer-bottom">
			<div class="bank"><img src="img/bank.png" alt="" /></div>
			<div class="footer-copyright">
				Bu sitede yer alan tüm ürün ve görsellerin izinsiz kullanımı ve paylaşımı kesinlikle yasaktır.
				İzinsiz kullanımında tüm yasal sorumluluğu kabul etmiş sayılırsınız.
			</div>
		</div>
		<!-- //footer bottom -->
	</div>
</div>
<!-- //footer -->
</body>
</html>