.on-detay { font-size:13px; padding-top:10px; padding-bottom:10px; color:#555; line-height:18px; }
#urun-image-container img { max-width:350px; max-height:350px; }
.content-container {background:#fff; border:1px solid #e7e7e7; padding:7px; border-radius:5px; font-size:13px; margin-bottom:20px;}
.content-container h1 { font-size:24px; font-weight:bold; padding-bottom:20px; padding-top:10px; margin-bottom:15px; border-bottom:1px solid #e4e4e4; color:#555; white-space:nowrap;}
.content-container h1 > div { display:inline-block; }
a.BreadCrumb { color:#555;}
.product { position:relative; }

.main-slider img { min-height:320px; }
.content-container h1 { white-space:normal !important; }